{% extends "base.html" %} {% block title %}Parade State & Roll Call{% endblock %}

{% block content %}
<!--page styling functions-->
<style>
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}
</style>
<style type="text/css">
input[type='checkbox'] {
    -webkit-appearance:none;
    width:25px;
    height:17px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background:blue;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
</style>
<style type="text/css">

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
    font-size: .85em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.6em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1.05em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.25;
  background-image: url({{ url_for('static', filename='9amb.png') }});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.boxedbackground {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(200,200,200);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  margin: auto;
   text-align: left;
}
.boxed {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  border: 2px solid grey;
  padding: 10px;
  margin: auto;
   text-align: left;
}
</style>
<style type="text/css">
    select {
        font-size: 0.7em;
        width:80%;
        height:37px;
    }
</style>

<form method="POST">
    <br>
<div class="boxedbackground">
     <h1 align="center" style=font-size:35px><b>Roll call & parade state</b></h1>
     <h1 align="center" style=font-size:25px><b>{{ displaying_date }}</b></h1>
</div>
    <br>
<div class="boxed">
     <label for="chosen_branch">Select the branch you're from: </label><br>
<Select id="chosen_branch" name="chosen_branch" class="form-control" required>
     <option>Choose your option</option>
   {% for branch_string in branches_string %}
   <option value="{{ branch_string }}">{{ dropdown_branch.get(branch_string).upper() }}</option>
    {% endfor %}
</Select>
</div>
    <br>
<!--script for showing div from choosen branch-->
<!--div is used to show details belonging to branch selected-->
<!--roll call-->
{% for branch_string, summary in zip(branches_string, summary_library) %}
<div id="{{ branch_string }}" class="selected_branch_div" style="display:none">
{% if dropdown_branch.get(branch_string) in branches_uncompleted %}
<div class="boxedbackground">
<h1 align="center" style=font-size:20px>{{ dropdown_branch.get(branch_string).upper() }} Roll call</h1>
<!--table showing branch roll call-->
    <table style="width:100%" align="center" id="roll_call_{{ branch_string }}" class="rwd-table">
  <thead>
    <tr>
<!--        if present is checked, remove absent and vis vasa-->
      <th scope="col" style="width:7%">No.</th>
      <th scope="col" style="width:35%">Name</th>
      <th scope="col" style="width:17%">Present</th>
      <th scope="col" style="width:17%">Absent</th>
    </tr>
  </thead>
  <tbody>
  <tr style="color: black; ">
<!--search function for table-->
        <th colspan="4"><input type="text" id="search_{{ branch_string }}"
                               onkeyup="myFunction('search_{{ branch_string }}', 'roll_call_{{ branch_string }}', 1)"
                               placeholder="Search for names.." title="Type in a name">
</th>
        </tr>
<!--formatted with names and attributes from display_unresponsive dictionary-->
  {% set count = namespace(a=1) %}
  {% for name, branch in display_unresponsive.items() %}
  {% if branch[1] == branch_string%}
    <tr>
    <td data-label="No.">{{ count.a }}</td>
    <td data-label="Name">{{name.upper()}}</td>
<!--        if absent block is ticked, it will trigger the reasons column-->
    <td data-label="Present" align="center"><input class="{{name }}" onchange="testFunction(this, '{{ name }}', '{{ name }}','am_{{ name.upper() }}', 'pm_{{ name.upper() }}', 'none', 'none')" type="checkbox" name="{{ name }}" value="Present"></td>
    <td data-label="Absent" align="center"><input class="{{ name }}" onchange="testFunction(this, '{{ name }}', '{{ name }}','am_{{ name.upper() }}', 'pm_{{ name.upper() }}', 'block', 'none')" type="checkbox" id="{{ name }}"></td>
    <td data-label="AM" style="display:none" id="am_{{ name.upper() }}"><Select name="{{ name }}">
        <option>AM STATUS</option>
         {%for state in status%}
        <option value='{{ state }}'>{{ state }}</option>
         {%endfor%}
    </Select></td>
    <td data-label="PM" style="display:none" id="pm_{{ name.upper() }}"><Select name="{{ name.upper() }}">
        <option>PM STATUS</option>
         {%for state in status%}
        <option value='{{ state }}'>{{ state }}</option>
         {%endfor%}
    </Select></td>
    </tr>
  </tbody>
{% set count.a = count.a + 1 %}
{% endif %}
{%endfor%}
</table>
<br>
<div class="wrapper">
<button type="submit" class="btn btn-primary" style="width:35%;" align="center">Submit</button>
</div>
</div>
{% else %}
{% endif %}
    <br>
<div class="boxedbackground">
<h1 align="center" style=font-size:20px>{{ dropdown_branch.get(branch_string).upper() }} Parade State</h1>
<!--table for personnel that already is in parade state-->
<table id="absent_{{ branch_string }}" style="width:100%">
    <thead>
    <tr>
      <th scope="col" style="width:7%">No.</th>
      <th scope="col" style="width:8%">Rank</th>
      <th scope="col">Name</th>
      <th scope="col" style="width:15%">AM Status</th>
      <th scope="col" style="width:15%">PM Status</th>
      <th scope="col" style="width:15%">Edit</th>
    </tr>
  </thead>
  <tbody>
  <tr style="color: black; ">
        <th colspan="2"><input type="text" id="search_absent_{{ branch_string }}"
                               onkeyup="myFunction('search_absent_{{ branch_string }}', 'absent_{{ branch_string }}', 2)"
                               placeholder="Search for names.." title="Type in a name">
</th>
      <th colspan="2"><input type="text" id="search_am_state_{{ branch_string }}"
                               onkeyup="myFunction('search_am_state_{{ branch_string }}', 'absent_{{ branch_string }}', 3)"
                               placeholder="Search AM Status.." title="Type in a name">
</th>
        <th colspan="2"><input type="text" id="search_pm_state_{{ branch_string }}"
                           onkeyup="myFunction('search_pm_state_{{ branch_string }}', 'absent_{{ branch_string }}', 4)"
                           placeholder="Search PM Status.." title="Type in a name">
</th>
        </tr>
{% set count = namespace(a=1) %}
{% for name_ps, features in display_attendance.items() %}
  {% if features[1] == branch_string.upper()%}
<tr>
    <td data-label="No.">{{ count.a }}</td>
    <td data-label="Rank">{{features[0]}}</td>
    <td data-label="Name">{{name_ps.upper()}}</td>
    <td data-label="AM Status">{{features[2]}}</td>
    <td data-label="PM Status">{{features[3]}}</td>
    <td data-label="Edit" align="center"><input onchange="checkboxFunction('edit_{{ name_ps }}','edit_am{{ name_ps }}', 'edit_pm{{ name_ps.upper() }}', 'block', 'none')" type="checkbox" id="edit_{{ name_ps }}"></td>
    <td data-label="AM" style="display:none" id="edit_am{{ name_ps }}"><Select name="edit_am{{ name_ps }}">
        <option>AM STATUS</option>
         {%for state in status%}
        <option value='{{ state }}'>{{ state }}</option>
         {%endfor%}
    </Select></td>
    <td data-label="PM" style="display:none" id="edit_pm{{ name_ps.upper() }}"><Select name="edit_pm{{ name_ps }}">
        <option>PM STATUS</option>
         {%for state in status%}
        <option value='{{ state }}'>{{ state }}</option>
         {%endfor%}
    </Select></td>
    {% if features[4] != '-'%}
    <td data-label="ENDING DATE">{{features[4]}}</td>
    {% endif %}
</tr>
{% set count.a = count.a + 1 %}
    {% endif %}
{%endfor%}
</table>
<br>
<div class="wrapper">
<button type="submit" class="btn btn-primary" style="width:35%;" align="center">Submit</button>
</div>
</div>
    <br>
<div class="boxedbackground">
<!--show table with parade state summary-->
<h2 align="center" style=font-size:20px>{{  dropdown_branch.get(branch_string).upper() }} Parade State Summary</h2>
<table style="margin-center: 20px" align="center">
<!-- Table headers -->
    <th>
        <tr style="color: black; ">
        <td><b>Status</b></td>
        <td><b>Total No.</b></td>
        </tr>
    </th>

{%for name_in_dictionary,features in summary.items()%}

<tr>
    <td>{{ name_in_dictionary }}</td>
    <td>{{ features }}</td>

{%endfor%}
</tr>
</table>
</div>
</div>
{% endfor %}
<!--For Battalion HQ-->
{% for branch_string, summary in zip(branches_string, summary_library) %}
<div id="btn" class="selected_branch_div" style="display:none">
<div class="boxedbackground">
<h1 align="center" style=font-size:20px>Battalion Parade State</h1>
<!--table for personnel that already is in parade state-->
<table id="absent_btn" style="width:100%">
    <thead>
    <tr>
      <th scope="col" style="width:7%">No.</th>
      <th scope="col" style="width:8%">Branch</th>
      <th scope="col" style="width:8%">Rank</th>
      <th scope="col">Name</th>
      <th scope="col" style="width:15%">AM Status</th>
      <th scope="col" style="width:15%">PM Status</th>
    </tr>
  </thead>
  <tbody>
  <tr style="color: black; ">
        <th colspan="6"><input type="text" id="search_absent_btn"
                               onkeyup="myFunction('search_absent_btn', 'absent_btn', 3)"
                               placeholder="Search for names.." title="Type in a name">
</th>
        </tr>
{% set count = namespace(a=1) %}
{% for name_ps, features in display_attendance.items() %}
  {% if features[1] == 'S1' or features[1] == 'S3' or features[1] == 'S4' %}
<tr>
    <td data-label="No.">{{ count.a }}</td>
    <td data-label="Branch">{{features[1]}}</td>
    <td data-label="Rank">{{features[0]}}</td>
    <td data-label="Name">{{name_ps.upper()}}</td>
    <td data-label="AM Status">{{features[2]}}</td>
    <td data-label="PM Status">{{features[3]}}</td>
    {% if features[4] != '-'%}
    <td data-label="ENDING DATE">{{features[4]}}</td>
    {% endif %}
</tr>
{% set count.a = count.a + 1 %}
    {% endif %}
{%endfor%}
</table>
<br>
</div>
    <br>
</div>
{% endfor %}
<br>
<a href="/" class="previous">&laquo; Back</a>
<br>
<br>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--javascript-->
<!--script for showing div from chosen branch-->
<script type="text/javascript">
	 $(document).ready(function(){
		$('#chosen_branch').change(function(){
			$('.selected_branch_div').hide();
			$('#' + $(this).val()).show();
		});
	});
</script>

<!--search function that is placed in table-->
<script>
function myFunction(input, table, no) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById(input);
  filter = input.value.toUpperCase();
  table = document.getElementById(table);
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[no];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<!--if absent block is ticked, it will trigger the reasons column-->
<script>
function checkboxFunction(name, up_name, up_name2, var1, var2) {
  var checkBox = document.getElementById(name);
  var text1 = document.getElementById(up_name);
  var text2 = document.getElementById(up_name2);
  if (checkBox.checked == true){
    text1.style.display = var1;
    text2.style.display = var1;
  } else {
     text1.style.display = var2;
     text2.style.display = var2;
  }
}
</script>

<!--if present is checked, remove absent and vis vasa-->
<script>
    function cbChange(obj, cbs) {
    var cbs = document.getElementsByClassName(cbs);
    for (var i = 0; i < cbs.length; i++) {
        cbs[i].checked = false;
    }
    obj.checked = true;
}
</script>

<!--functions that combine all javascript functions together-->
<script>
    function testFunction(obj, cbs, name, up_name, up_name2,var1, var2) {
    cbChange(obj, cbs);
    checkboxFunction(name, up_name, up_name2,var1, var2);
}
</script>

{% endblock %}
