{% extends "base.html" %} {% block title %}Adding Database{% endblock %}

{% block content %}
<!--for styling the page-->
<style>
    .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}
</style>
<style type="text/css">
/* general styling */
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.25;
  background-image: url({{ url_for('static', filename='9amb.png') }});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.boxedbackground {
  width: 90%;
  border-radius: 10px;
  background-color: rgb(200,200,200);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
  margin: auto;
   text-align: left;
}
</style>
<form method="POST">
    <br>
    <div class="boxedbackground">
    <h1 align="center" style=font-size:35px><b>Add Personnel</b></h1>
    </div>>
    <br>
<!--input for the variety of ranks-->
    <div class="boxedbackground">
    <label for="rank">Select your rank</label>
     <Select id="rank" name="rank" class="form-control" required>
     <option>Choose your option</option>
        {%for rank in ranking%}
   <option value='{{ rank }}'>{{ rank.upper() }}</option>
        {%endfor%}
     </Select>
<!--input for the personnel name-->
    <br><label for="name">Personnel Name</label><input type="text" class="form-control" id="name" name="name" placeholder="Enter Personnel Name" required/>
<!--input for confirmation name-->
    <br><label for="name2">Confirm Personnel Name</label><input type="text" class="form-control" id="name2" name="name2" placeholder="Enter Personnel Name" required/>
<!--input for type of branch-->
    <br><label for="branch">Enter Your Branch</label><Select id="branch" name="branch" class="form-control" required>
     <option>Choose your option</option>
   {% for branch_string in branches_string %}
   <option value="{{ branch_string }}">{{ dropdown_branch.get(branch_string).upper() }}</option>
    {% endfor %}
</Select>

    <br>
    <div class="wrapper">
    <button type="submit" class="btn btn-primary" style="width:35%;" align="center">Add</button>
    </div>
        <br>
    <a href="/" class="previous">&laquo; Back</a>
    </div>
<br>
</form>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}
